/* All CSS styles go here */


.shadow{
  height:607px;
  width: 405px;
  background-color: black;
  filter: blur(5px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.redbox{
  height:600px;
  width: 400px;
  background-color: #f43a00;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);

}
.black{
  height: 5px;
  width: 250px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -4100%);
  z-index: 2;
}
.blackbox{
  height: 200px;
  width: 400px;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 82.5%;
  transform: translate(-50%,-50%);
  z-index: 2;
}
.yellow{
  height: 200px;
  width: 400px;
  background-color: #FDDA0D;
  position: absolute;
  left: 50%;
  top: 83.5%;
  transform: translate(-50%,-50%);
  z-index: 3;
}
.text{
font-family: "eurostile", sans-serif;
 font-weight: 900;
 font-style: normal;
 text-align: center;
 font-size: 44px;
 color: #FDDA0D;
 line-height: 33px;
}
.secondtext{
width: 400px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -280%)
}

.anthony{
  padding-top: 7px;
  animation-duration: 2s;
  animation-name: anthony_move;
}

@keyframes anthony_move {
  from {
    margin-left: -500%;
    width: -300%;
      }
  to {
    margin-left: 0%;
    width: -100%;
  }
}

.burgess{
  animation-duration: 2s;
  animation-name: burgess_move;
}
@keyframes burgess_move {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}


.guy{
  z-index: 4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-47.4%,-26%);

}

.eye{
  z-index: 9;
  position: absolute;
  padding-top: 150px;
  padding-right: -20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transform-origin: 50% 50% ;
	animation: eye_spin 2s infinite linear;
  }


.iris{
  position: absolute;
  z-index: 10;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%,210%);
  overflow: hidden;
}
.inside{
  position: absolute;
  z-index: 12;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: black;
  top: 50%;
  left: 50%;
  animation: inside_move 9s alternate infinite;
}
@keyframes inside_move {
	0% { top: 1px; }
  20%{ top: -1px; }
  40% {bottom: 3px;}
  60% {right:4px;}
  80%{left: -3px;}
	100% { bottom:6px; }
	}

.iris:hover .inside{
  background-color: red;
}



.earring{
  position:absolute;
  z-index: 8;
  height: 15px;
  width: 15px;
  background-color:#F8F8F8;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-480%,730%);
  opacity: 0%;
  }

  .earring:hover {
    opacity: 100%
  }
